.arrow-btn {
    background-color: #e1e4e9;
    background-position: 50%;
    background-size: .9rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    height: 2rem;
    margin-left: 1rem;
    width: 2rem;
}

.right-arrow-btn {
    background-image: url(../img/icons/arrow-right.svg);
}

.left-arrow-btn {
    background-image: url(../img/icons/arrow-left.svg);
}